body{
    margin-top: 0%;
    margin-left: 0%;
    margin-bottom: 0%;
    margin-right: 0%;

    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: whitesmoke;
}


/*Cabeçalho*/
header{
    background-color: #2e2e2e;
    height: 110px;
    width: 100%;
    border-bottom: solid grey 2px;
}
.logo{
    width: 200px;
    line-height: 80px;
    margin-left: 20px;
}
.fechanav{
    color: #14d424;
    font-weight: bold;
    font-size: 18px;
}
.navbar{
    list-style: none;
    float: right;
    margin: 20px;
    text-decoration: none;
}
.navbar li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
.navbar li a{
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
    color: whitesmoke;
}
.navbar li a:hover{
    text-decoration: underline;
    color: #14d424;
    transition: .5s;
}
.destaknavbar{
    color: #14d424;
    text-decoration: underline;
}
.icone-hamburgue{
    width: 30px;
    float: right;
    line-height: 80px;
    margin: 20px;
    cursor: pointer;
    margin-top: 6vh;
}
#check{
    display: none;
}
@media (min-width: 858px) {
    .icone-hamburgue{
        display: none;
    }
    .fechanav{
        display: none;
    }
}
@media (max-width: 858px){
    .logo{
        margin-top: 16px;
        width: 150px;
        line-height: 80px;
        margin-left: 20px;
    }
    .navbar{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: #2e2e2e;
        top: 110px;
        right: -100%;
        text-align: center;
        transition: all .5s;
        border-top: solid grey 2px;
        margin: 0;
    }
    .navbar li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    .navbar li a{
        font-size: 20px;
    }
    #check:checked ~ .navbar{
        right: 0;
    }
    
}
/*fim do cabeçalho*/

/* começo da apresentação*/
.apresentacao{
    font-size: 15px;
    color: white;
    display: flex;
    justify-items: center;
    justify-content: center;
    margin: 10px;
    padding: 20px;
}
.apresentacao img{
    max-width: 400px;
    border-right: 2px solid #14d424;
    border-left: 2px solid #14d424;
    border-radius: 100%;
    cursor: pointer;
}
.apresentacao h1{
    text-shadow: 2px 2px 2px rgb(3, 3, 3);
}
/* Animação typewriter */
.typewriter{
    overflow: hidden;
    border-right: 2px solid white;
    white-space: nowrap;
    margin: 0 auto;
    animation: typing 3.5s steps(30, end), blink-caret .5s step-end infinite;
    height: 35px;
}
@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 80%;
    }
}
@keyframes blink-caret {
    from, to {
        border-color: transparent
    }
    50% {
        border-color: white
    }
}
/* termina aqui a animação typewriter do titulo */
@media (max-width: 858px){
    .apresentacao{
        display: block;
        text-align: center;
        margin-top: none;
        justify-content: none;
        justify-items: none;
    }
    .apresentacao img{
        opacity: initial;
        width: 250px;
        border-right: 2px solid #14d424;
        border-left: 2px solid #14d424;

    }
    .typewriter{
        font-size: 18px;
    }
}
@media (min-width: 858px){
    .apresentacao h1{
        margin-top: 25vh;
        text-shadow: 2px 2px 2px grey;
    }
}
/* fim da apresentação */

/* começo da descrição */
.descricao{
    background-color: #2e2e2e;
    padding: 20px; 
    line-height: 25px; 
    margin: 0%;
    text-align: center;
}
.descricao h1{
    color: #14d424;
}
.links{
    display: flex;
    justify-content: center;
    justify-items: center;
    margin: auto;
}
.links img:hover{
    opacity: .5;
}
.links a{
    text-decoration: none;
    cursor: pointer;
}
.links img{
    max-width: 100px;
    margin: 40px;
    border-radius: 5px;
    border: 2px solid #14d424;
    padding: 5px;
}
@media (max-width: 858px){
    .descricao{
        max-width: 400px;
        display: block;
        margin-left: auto;
        margin-right: auto; 
        text-align: center;
    }
    .links img{
        margin: 5px;
        max-width: 80px;
    }
}
@media (min-width: 858px){
    .descricao{
        padding-left: 200px;
        padding-right: 200px;

    }
}

/* estilos dos conteiner projetos */
.secaoprojetos{
    margin-top: 0;
    background-image: linear-gradient(to top, rgb(05, 10, 10), #2e2e2e );
    padding: 20px;
} 
.secaoprojetos h1{
    color: #14d424;
    text-align: center;
    margin: 0%;
}
.projetos{
    max-width: 1000px;
    height: 500px;
    /* padding: 20px;
    margin: auto; */ 
}
.content{
    background-color: #2e2e2e;
    text-align: center;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 2px 5px grey;
    max-width: 100%;
    height: 90%;
}
.content a{
    background-color: #14d424;
    box-shadow: 0 0 10px #14d424;
    color: whitesmoke;
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
    text-shadow: 1px 1px 1px grey;
}
.content a:hover{
    opacity: .5;    
}
@media (max-width: 858px){
    .secaoprojetos{
        max-width: 400px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .projetos{
        display: block;
    }
    .content{
        max-width: 100%;
        height: auto;
    }
}

/* estilo do rodape */
@media (max-width: 858px){
    .footer{
        max-width: 400px;
        display: flex;
        flex-direction: column;
        justify-items: center;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        font-size: 15px;
    }
    .form{
        text-align: center;
    }
    .endereco{
        text-align: center;
    }
}
.footer{
    background-color: rgb(05, 10, 10);
    display: flex;
    justify-items: center;
    justify-content: space-around;
    padding: 20px;
    border-top: 2px solid grey;
}
/* estilos do formulario de contato do rodapé */
.form{
    text-align: center;
}
.form h3{
    color: #14d424;
    margin-top: 0px;
}
.form fieldset{
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-top: #2e2e2e solid 2px;
    padding: 0px;
    margin: 0px;
}
.form a img{
    width: 40px;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 10px;
}
.form a img:hover{
    opacity: .5;
}
.form p{
    color: #14d424;
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 10px;
}
.form input{
    background-color: #2e2e2e;
    width: 240px;
    border-radius: 5px;
    color: whitesmoke;
    border: none;
    height: 20px;
    padding: 5px;
}
.form textarea{
    background-color: #2e2e2e;
    width: 240px;
    border-radius: 5px;
    color: whitesmoke;
    border: none;
    padding: 5px;
}
.submit{
    background-color: #14d424;
    color: whitesmoke;
    box-shadow: 0 0 10px #14d424;
    border-radius: 2px;
    cursor: pointer;
    border: none;
    margin-top: 5px;
    width: 100px;
    padding: 5px 10px;
    font-size: 15px;
    text-shadow: 1px 1px 1px grey;
}
.submit:hover{
    opacity: .5;
}
